.bgcontainer {
    background-color: rgb(67, 5, 67);
    height:100vh;
    background-size:cover;

}
.mystory{
    color:aliceblue;

}
.image{
    height:400px
    width:400px
}
.card1{
    background-color:goldenrod;
    border:2px solid red;
    width:
}