.bgcontainer {
    background-color: rgb(67, 5, 67);
    height:100vh;
    background-size:cover;

}
.mystory{
    color:aliceblue;
    display: flex;
    flex-direction: row;
    padding-top:24px;
    justify-content:space-around;

}
.image{
    height:200px;
    width:200px;
    border-radius:100px;
}
.card1{
    background-color:rgb(50, 50, 54);
    border:2px solid rgb(106, 96, 96);
    width:40vw;
    text-align: center;
    border-radius: 33px;
    display: flex;
    flex-direction: column;
    align-items:center;
    box-shadow:10px 10px 5px 2px rgb(7, 5, 65);
}