.bgcontainer {
    height:100vh;
    background-size:cover;

}
.mystory{
    color:rgb(93, 245, 230);
    display: flex;
    flex-direction:column;
    padding-top:24px;
    justify-content:space-around;
    align-items: center;

}
.image1{
    height:150px;
    width:150px;
    border-radius:100px;
    display:none;
}
.image2{
    height:150px;
    width:150px;
    border-radius:100px;
    display: none;

}
.card1{
   
    width:40vw;
    text-align: center;
    border-radius: 33px;
    display: flex;
    flex-direction: column;
    align-items:center;
    box-shadow:5px 5px 4px 6px rgb(7, 138, 47);
}
.hi{
    font-size:44px;
}
@media (min-width: 768px){
    .mystory{
        display: flex;
        flex-direction: row;
    }
    .image1{
        display:block;
    }

}